<section class="ticketapp">
  <header class="header">
    <h1>{{message}}</h1>
    <input class="new-ticket" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTicket.client" (keyup.enter)="addTicket()">
  </header>
  <section class="main" *ngIf="tickets.length > 0">
    <ul class="tickets-list">
      <li *ngFor="let ticket of tickets" [class.completed]="ticket.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTicketComplete(todo)" [checked]="ticket.complete">
          <label>{{ticket.client}}</label>
          <button class="destroy" (click)="removeTicket(ticket)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="tickets.length > 0">
    <span class="tickets-count"><strong>{{tickets.length}}</strong> {{tickets.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
